<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       		http://www.springframework.org/schema/context
       		http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/data/mongo
            http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
            http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd
       		http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/tx
        	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        	http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <!-- 添加注解驱动 -->
    <context:annotation-config />


    <!-- 自动扫描组件，此处为父容器，这里要把 controller去除，他们是spring-context.xml中配置的，如果不去除会影响事务管理的。 -->
<!--    <context:component-scan base-package="com.zefun.web,com.zefun.wechat">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>-->
    <context:component-scan base-package="com.bear.common.configs"></context:component-scan>
    <context:property-placeholder ignore-unresolvable="true" />
    <context:property-placeholder location="classpath*:properties/*.properties" />
    <import resource="redis-context.xml" />

    <bean id="monitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
        <property name="pointcut">
            <bean class="net.bull.javamelody.MonitoredWithAnnotationPointcut"/>
        </property>
    </bean>


    <bean id="springDataSourceBeanPostProcessor" class="net.bull.javamelody.SpringDataSourceBeanPostProcessor">
        <!--
        <property name="excludedDatasources">
            <set>
                <value>excludedDataSourceName</value>
            </set>
        </property>
        -->
    </bean>

    <!-- mongo 配置 -->

    <mongo:mongo id="mongo" host="localhost" port="27017">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="1500"
                       slave-ok="true"
                       write-number="1"
                       write-timeout="0"
                       write-fsync="true"/>
    </mongo:mongo>

    <mongo:db-factory dbname="bear_ai" mongo-ref="mongo" id="aiFactory"/>

    <mongo:db-factory dbname="bear" mongo-ref="mongo" id="bearFactory"/>

    <bean id="mongoMapperContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>

    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey"><null/></constructor-arg>
    </bean>

    <bean id="mapperMongoConvert" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg  name="mongoDbFactory" ref="bearFactory" />
        <constructor-arg name="mappingContext" ref="mongoMapperContext"/>
        <property name="typeMapper" ref="defaultMongoTypeMapper"/>
    </bean>

    <bean id="bearTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg  name="mongoDbFactory" ref="bearFactory" />
        <constructor-arg name="mongoConverter" ref="mapperMongoConvert"/>
    </bean>

    <bean id="aiTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="aiFactory"/>
    </bean>

    <!-- elasticSearch 配置 -->

    <elasticsearch:node-client id="client" local="true"/>

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>

    <!--<elasticsearch:transport-client id="client" cluster-nodes="192.168.3.86:9301" cluster-name="elasticsearch_Apple" />

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>-->

</beans>