<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bear.web.mapper.WxKeywordReplyMapper">
    <!--定义变量-->
    <sql id="tableName">wx_keyword_reply</sql>
    <sql id="defaultState">0</sql>

    <!--定义返回映射-->
    <resultMap id="baseResultMap" type="com.bear.web.entity.WxKeywordReply">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="auth_id" property="authId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="rule" property="rule" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_on" property="createon" jdbcType="VARCHAR"/>
        <result column="update_on" property="updateon" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>


    <!--定义sql-->
    <insert id="insertDynamic" parameterType="com.bear.web.entity.WxKeywordReply" useGeneratedKeys="true"
            keyProperty="id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                auth_id,
            </if>

            <if test="storeId != null">
                store_id,
            </if>

            <if test="appId != null">
                app_id,
            </if>
            <if test="rule != null">
                rule,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createon != null">
                create_on,
            </if>
            <if test="updateon != null">
                update_on,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                #{authId},
            </if>

            <if test="storeId != null">
                #{storeId},
            </if>

            <if test="appId != null">
                #{appId},
            </if>
            <if test="rule != null">
                #{rule},
            </if>
            <if test="keyword != null">
                #{keyword},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="updateon != null">
                #{update_on},
            </if>

            <if test="createon != null">
                #{createon},
            </if>

            <if test="state != null">
                #{state},
            </if>
        </trim>
    </insert>

    <update id="updateDynamic" parameterType="com.bear.web.entity.WxKeywordReply">
        update <include refid="tableName"/>
        <set>
            <if test="authId != null">
                #{authId},
            </if>

            <if test="storeId != null">
                #{storeId},
            </if>

            <if test="appId != null">
                #{appId},
            </if>
            <if test="rule != null">
                #{rule},
            </if>
            <if test="keyword != null">
                #{keyword},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="updateon != null">
                #{update_on},
            </if>

            <if test="createon != null">
                #{createon},
            </if>

            <if test="state != null">
                #{state},
            </if>
        </set>
        where id = #{id} and state = <include refid="defaultState"/>
    </update>

    <update id="deleteById" parameterType="java.util.Map">
        update <include refid="tableName"/>
        <set>
            state = #{state}
        </set>
        where state = <include refid="defaultState"/>
        and auth_id = #{authId}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.bear.web.entity.WxKeywordReply">
        select * from <include refid="tableName"/>
        where state = <include refid="defaultState"/>
        and auth_id = #{authId}
    </select>

    <select id="selectByStoreId" parameterType="java.lang.Integer" resultType="com.bear.web.entity.WxKeywordReply">
        select * from <include refid="tableName"/>
        where state = <include refid="defaultState"/>
        and store_id = #{storeId}
    </select>

    <select id="selectByAppId" parameterType="java.lang.String" resultType="com.bear.web.entity.WxKeywordReply">
        select * from <include refid="tableName"/>
        where state = <include refid="defaultState"/>
        and app_id = #{appId}
    </select>
    
    <select id="selectByKeyword" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from <include refid="tableName"/> as k
        where state = <include refid="defaultState"/>
        and locate(#{word}, k.keyword) > 0
        and app_id = #{appId}
    </select>

</mapper>